header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  background: #ffffff;
  z-index: 999;
  box-shadow: 0 0.2rem 0.5rem 0 rgb(0 0 0 / 16%), 0 0.2rem 1rem 0 rgb(0 0 0 / 12%);
}

header h1 {
  text-align: center;
  padding: 1rem;
}

a {
  font-family: "Playfair Display", serif;
  letter-spacing: 5px;
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: none;
  color: #000;
}
