@import "assets/css/default.css";
@import "assets/css/header.css";
@import "assets/css/user-profile.css";
@import "assets/css/feeds.css";
@import "assets/css/min-992.css";

.section-block {
  box-shadow: 0 0.2rem 0.5rem 0 rgb(0 0 0 / 16%), 0 0.2rem 1rem 0 rgb(0 0 0 / 12%);
  border-radius: 1rem;
  margin: 5rem auto;
  padding: 1rem;
  background: #ffffff;
  max-width: 600px;
}

.feed-paginator {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}
